PORT=Y
MONGO_URI=mongodb+srv://username:password@clusterpassivo.vyh5zsn.mongodb.net/?appName=clusterPassivo
JWT_SECRET=Y
JWT_COOKIE_EXPIRES_IN=Y
R2_ACCESS_KEY_ID=ab
R2_SECRET_ACCESS_KEY=xy
R2_ACCOUNT_ID=ac
R2_BUCKET_NAME=xd